body {
	width: 100%;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

h1 {
	margin: 0;
	padding: 0;
}


/*----------- Header ----------*/

.header {
	background: rgba(0, 0, 0, 0.75);
	height: 2em;
	color: white;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	width: 100%;
	padding: 0;
}
	.header a {
		color: deeppink;
		text-decoration: none;
	}
	.search-bar-container {
		display: flex;
		justify-content: space-around;
		align-items: center;
	}

		.search-bar {
			height: 2em;
			padding: 0 1em;
			border: none;
		}

		.magnifying-glass {
			height: 2em;
			width: 2em;
			background-image: url('https://banner2.kisspng.com/20180429/ufw/kisspng-computer-icons-font-awesome-magnifying-glass-clip-5ae576ee307978.7622812615249876301986.jpg');
			background-size: contain;
			background-repeat: no-repeat;
			background-position: center;
			border: none;
		}

	.nav-placeholder {
		height: 3em;
		width: 100%;
	}


/* ----- Nav Bar -----*/

.sticky {
	position: fixed;
	top: 0;
	width:100%;
}

nav {
	position: absolute;
	height: 2em;
	top: 2em;
	display: flex;
	width: 100%;
	align-items: center;
	background: rgba(250, 0, 0, 0.75);
}

	.nav-links-container {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
		flex: 1 1 50%;
	}

		.nav-links-container a {
			text-decoration: none;
			color: white;
		}


/* ---------- Main Content ----------*/

main {
  background: rgba(50, 50, 50, 0.75);
  padding: 1em;
}

/*----- Guest Home -----*/
.drawing {
	width: 100%;
	height: 100%;
	border-radius: 50%;
}

#draw-container, .draw-container-user {
	width: 281px;
	height: 176px;
	border-radius: 50%;
}

#draw-container {
	margin: auto;
}

@media only screen and (min-width: 500px) {
	#draw-container, .draw-container-user {
		width: 472px;
		height: 295px;
	}
}

@media only screen and (min-width: 840px) {
	#draw-container {
		width: 575px;
		height: 359px;
	}
}

@media only screen and (min-width: 1024px) {
	#draw-container {
		width: 702px;
		height: 439px;
	}
}

@media only screen and (min-width: 1250px) {
	#draw-container {
		width: 857px;
		height: 536px;
	}
}

.draw-area, .draw-area-user {
	background-image: url('rugbycanvas.png');
	background-size: contain;
	background-repeat: no-repeat;
	width: 100%;
	height: 100%;
	border-radius: 50%;
	cursor: crosshair;
	box-shadow: 0.5em 0.5em 1em black;
}

.draw-area {
	margin: auto;
}

.path {
	fill: none;
	stroke-width: 2px;
	stroke: blue;
	stroke-linejoin: round;
	stroke-linecap: round;
}



/*----- User Home -----*/
#my-balls {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
}

/*----- Register Page -----*/

.register-form-container {
	display: flex;
	flex-wrap: wrap;
	width: 90%;
	align-items: center;
	margin: auto;
}

	.input-container {
		width: 100%;
		padding: 0.5em;
	}

		.register-label {
			font-weight: bold;
			padding: 1em;
		}

		.register-input {
			padding: 0.25em 1em;
		}


.ball-container {
	padding: 1em;
}

.ball-option-container {
	display: flex;
	justify-content: space-between;
}
.cart-container {
	display: flex;
	flex-wrap: wrap;
}

.cart-item {
	display: flex;
	flex-wrap: wrap;
	padding: 1em;
}

.checkout {
	width: 100%;
}







/*----- Login Page -----*/














.oldPath {
	color: blue;
	background: red;
}


#hi {
	z-index: 1000;
	color: yellow;
}

#hey {
	width: 100%;
	height: 100%;
}














.text-muted {
	color: darkgray;
  }
  
  .btn {
	border-radius: 0.25rem;
	cursor: pointer;
	padding: 0.25rem;
  }
  
  .App {
	display: flex;
	flex-direction: column;
	align-items: center;
	min-height: 100vh;
	overflow: auto; /* To provide a BFC which prevents margin bleedthru. */
	font-family: sans-serif;
	text-align: center;
	z-index: 100;
  }
  
  .App__body {
	flex: 1 1 auto;
  }







footer {
  background: black;
  color: deeppink;
  text-align: center;
  height: 30em;
}

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
